.footer-div a {
  /* color: #868e96; */
  font-weight: bold;
  font-family: "Google Sans Regular";
  padding-bottom: 2rem;
}

.footer-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
